<article class="hero-section container">
  <img class="w100 h100 hero-image" style="position: absolute;top: -50px;z-index: -1;object-fit: cover" src="assets/images/spider.jpg" alt="">
  <div class="hero-details-container">
    <div class="hero-detail-main">
      <p class="hero-detail-name">Spider-Man’s 60th</p>
      <p class="hero-detail-bio"> Celebrate Spidys 60th annivessary with most of is most iconic stories!</p>
    </div>

    <div class="hero-actions">
      <button class="h-button">Read More</button>
    </div>
  </div>
</article>
