<header class="bg-gray-800 text-white py-4">
  <div class="container mx-auto px-4">
    <nav class="flex items-center justify-between">
      <a href="#" class="text-xl font-semibold">Angular Adv</a>
      <ul class="hidden md:flex space-x-6">
        <li><a class="hover:text-gray-300" routerLink="/board">Board</a></li>
        <li><a class="hover:text-gray-300" routerLink="/series">Series</a></li>
        <li><a class="hover:text-gray-300" routerLink="/library">Library</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<ng-template #appTemplate></ng-template>
