:root {
  --first-color: #633CFF;
  --first-color-light: #BEADFF;
  --first-color-alt: #EFEBFF;

  --body-background: #FAFAFA;
  --text-color-black: #333333;
  --text-color-grey: #737373;
  --text-color-purple: var(--first-color);
  --input-focus-border: var(--first-color);
  --white: #FFF;
  --gray: #D9D9D9;
}
