.doom-lair-container {
  padding-bottom: 4rem;
  .doom-landscape-img-container {
    img {
      mask-image: linear-gradient(black 80%, transparent),
      linear-gradient(to top, black 80%, transparent),
      linear-gradient(to right, black 80%, transparent),
      linear-gradient(to left, black 80%, transparent);
      mask-composite: intersect;
    }
  }

  .doom-slider-container {
    --width: 200px;
    --height: 200px;
    --quantity: 9;

    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);

    &:hover .card {
      animation-play-state: paused !important;
      filter: grayscale(1);
    }

    & .card:hover {
      filter: grayscale(0);
    }

    &[reverse="true"] .card {
      animation: reversePlay 10s linear infinite;
    }

    .card-list {
      display: flex;
      width: 100%;
      min-width: calc(var(--width) * var(--quantity));
      position: relative;

      .card {
        animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1)) !important;
        animation: heroAutoRunSlider 10s linear infinite;
        border-radius: 0.8rem;
        height: var(--height);
        left: 100%;
        position: absolute;
        transition: filter 0.5s;
        width: var(--width);
        overflow: hidden;
      }
    }
  }
}

@keyframes heroAutoRunSlider {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}
