<article style="display: flex;flex-direction: column;gap:10px">
  <h3>The Pipes</h3>

  <div style="border: 1px solid red">
    <p>Json Pipe</p>
    <span>{{ userProfile | json }}</span>
  </div>

  <div style="border: 1px solid red">
    <p>Slice Pipe</p>
    <span>{{ userProfile.firstName | slice:0:3 }}</span>
  </div>

  <div style="border: 1px solid red">
    <p>Slice Pipe</p>
    <span>{{ numbers | slice:1:3 }}</span>
  </div>

  <div style="border: 1px solid red">
    <p>UpperCase Lowercase</p>
    <span>{{ userProfile.firstName | lowercase }}</span>
  </div>

  <div style="border: 1px solid red">
    <p>Title case</p>
    <span>{{ userProfile.lastName | titlecase }}</span>
  </div>

  <div style="border: 1px solid red">
    <p>My Custom Pipe</p>
    <span>{{ loremIpsum | truncate:200 }}</span>
  </div>

  <div style="border: 1px solid red">
    <p>My Custom Pipe (Filter GreaterThan)</p>
    <span>{{ numbers | filterGreaterThan:4 }}</span>
  </div>

  <div>
    <button (click)="updateTruncadePipe()">Update Custom Pipe</button>
    <button (click)="updateNumbers()">Update Numbers</button>
    <input type="text" (mouseenter)="mouseEnterInputText()">
  </div>
</article>
