<article class="register-container slide-in-fwd-center">
  <section class="register-form-container">
    <div class="register-form">
      <div class="overlay"></div>

      <div class="logo p-relative">
        <img class="w100 h100"
             src="assets/svg/marvel-logo.svg"
             alt="marvel logo">
      </div>

      <div class="input-container p-relative">
        <div class="w100">
          <input class="h-input" type="text" id="email" placeholder="Email">
        </div>

        <picture>
          <img src="assets/images/yo-habia-ponido.webp" class="w100 h100" alt="yo habia ponido meme">
        </picture>

        <button class="h-button w70" routerLink="/heroes">Register</button>
        <button class="h-button w70" (click)="initializeInterval()">Init Contadores</button>
      </div>
    </div>
  </section>
</article>


