<app-nav-bar [navBarList]="navBarList"></app-nav-bar>
<article class="doom-lair-container container">
  <div class="doom-landscape-img-container">
    <img class="w100 h100" src="images/doom_landscape.webp" alt="Doctor Doom Landscape">
  </div>

  <div class="doom-slider-container" reverse="true">
    <div class="card-list">
      @for (characterDetails of (characterDetails | async); track characterDetails.id; let index = $index; ) {
        <div class="card"
             style="--position: {{index}}"
             [routerLink]="['./', characterDetails.id]"
        >
          <img class="w100 h100 h-object-fit-cover"
               loading="lazy"
               [src]="characterDetails.thumbnail | marvelThumbnail : THUMBNAIL_SIZE "
               [alt]="characterDetails.name">
        </div>
      }
    </div>
  </div>
</article>
