<article class="login-container slide-in-fwd-center">
  <section class="login-form-container">
    <div class="login-form">
      <div class="overlay"></div>
      <div class="logo p-relative">
        <img class="w100 h100"
             src="assets/svg/marvel-logo.svg"
             alt="marvel logo">
      </div>

      <div class="input-container p-relative">
        <div class="w70">
          <input class="h-input" type="text" id="username" placeholder="username" #username>
        </div>

        <div class="w70">
          <input class="h-input" type="password" id="password" placeholder="Password" #password>
        </div>

        <a class="sing-up h-font-w-bold h-font-xs" routerLink="./register">Sign Up</a>

        <button class="h-button w70" (click)="login(username,password)">Login</button>
      </div>
    </div>
  </section>
</article>
