/*CONTAINER*/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 151.12rem;
}

.w100 {
  width: 100%;
}

.w70 {
  width: 70%;
}

.h100 {
  height: 100%;
}

.d-block {
  display: block;
}

.p-relative {
  position: relative;
}

.h-input {
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  outline: solid var(--border-color);
  padding: 1.2rem 1.6rem;
  width: 100%;

  &:focus {
    outline: solid var(--first-color);
  }

  &::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
  }
}

.h-button {
  background-color: var(--first-color);
  font-size: 1.6rem;
  border-radius: 0.8rem;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  outline: none;
  padding: 1.1rem 2.7rem;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--first-color-alt);
  }

  &:focus {
    outline: solid var(--first-color-alt);
  }
}
