<article class="team-heroes-container">
  <div class="team-heroes-panel-container">
    <div class="team-heroes-panel">


      <div class="team-heroes-panel-image">
        <img class="w100 h100" src="assets/images/wolverine-hero.webp" alt="Wolverine Cover">
      </div>

      <div class="team-heroes-panel-details">
        <figure class="team-heroes-panel-details-figure">
          <img class="w100 h100" src="assets/svg/u-marvel-logo.svg" alt="u marvel logo">
        </figure>
        <p class="h-font-l h-font-w-bold">NEW ON MARVEL UNLIMITED</p>
        <p class="h-font-s">Read these plus 30,000+ digital comics for $9.99</p>
      </div>
    </div>

    <div class="team-card-container">
      <div class="team-card">T</div>
      <div class="team-card">T</div>
      <div class="team-card">T</div>
      <div class="team-card">T</div>

      <div class="team-card">T</div>
      <div class="team-card">T</div>
      <div class="team-card">T</div>
      <div class="team-card">T</div>

      <div class="team-card">T</div>
      <div class="team-card">T</div>
      <div class="team-card">T</div>
      <div class="team-card">T</div>
    </div>
  </div>
</article>
