<article class="team-heroes-container">
  <div class="team-heroes-panel-container">
    <div class="team-heroes-panel">


      <div class="team-heroes-panel-image">
        <img class="w100 h100" src="assets/images/wolverine-hero.webp" alt="Wolverine Cover">
      </div>

      <div class="team-heroes-panel-details">
        <figure class="team-heroes-panel-details-figure">
          <img class="w100 h100" src="assets/svg/u-marvel-logo.svg" alt="u marvel logo">
        </figure>
        <p class="h-font-l h-font-w-bold">NEW ON MARVEL UNLIMITED</p>
        <p class="h-font-s">Read these plus 30,000+ digital comics for $9.99</p>
      </div>
    </div>

    <div class="team-card-container">
      <div class="team-card" *ngFor="let hero of characterDetails | async">
        <figure>
          <img class="w100 h100"
               [src]="hero.thumbnail | marvelThumbnail : THUMBNAIL_SIZE "
               alt="{{hero.name}} portrait">

          <span class="hero-name h-font-s h-font-w-bold" [title]="hero.name">{{ hero.name }}</span>
        </figure>
      </div>
    </div>
  </div>
</article>
