<footer id="footer" class="footer">
  <span id="todo-count" class="todo-count"
  > items left</span
  >
  <ul id="filters" class="filters">
    <li>
      <a
        [routerLink]=""
      >
        All
      </a>
    </li>
    <li>
      <a
        [routerLink]=""
      >
        Active
      </a>
    </li>
    <li>
      <a
        [routerLink]=""
      >
        Completed
      </a>
    </li>
  </ul>
  <button
    id="clear-completed"
    class="clear-completed"
  >
    Clear completed
  </button>
</footer>
