<div class="bg-zinc-950 text-white min-h-screen">
  <div class="container mx-auto px-4 py-8 max-w-5xl">
    <!-- Profile Section -->
    <div class="grid md:grid-cols-3 gap-6" *ngIf="(characterData$ | async) as character">
      <div class="md:col-span-1">

        <div class="bg-zinc-800/45 rounded-xl p-6 shadow-lg border border-purple-500/20">
          <div class="flex flex-col items-center">
            <div
              class="w-32 h-32 bg-gradient-to-r from-purple-500 to-pink-500 rounded-full flex items-center justify-center mb-4">
              <!--               <i class="fas fa-user-ninja text-4xl"></i> -->
              <img src="https://avatarfiles.alphacoders.com/347/347356.jpg"
                   class="rounded-full bg-cover border-2 border-purple-400"/>
            </div>
            <h2 class="text-2xl font-bold mb-2">
              Welcome, <span id="playerName" class="text-purple-400">Adventurer</span>
              <button class="ml-2 text-sm text-gray-400 hover:text-purple-400">
                <i class="fas fa-edit"></i>
              </button>
            </h2>

            <!-- Level and Experience -->
            <div class="w-full mt-4">
              <tm-level-progress></tm-level-progress>
            </div>

            <!-- Stats Grid -->
            <div class="grid grid-cols-2 gap-4 w-full mt-6">
              <tm-task-card
                iconClass="fas fa-fist-raised text-yellow-500 mr-2"
                taskName="Strength"
                [points]="character.strength">
              </tm-task-card>
              <tm-task-card
                iconClass="fas fa-brain text-blue-500 mr-1"
                taskName="Intelligence"
                [points]="character.intelligence">
              </tm-task-card>
              <tm-task-card
                iconClass="fas fa-star text-purple-500 mr-2"
                taskName="Charisma"
                [points]="character.charisma">
              </tm-task-card>
              <tm-task-card
                iconClass="fas fa-palette text-pink-500 mr-2"
                taskName="Creativity"
                [points]="character.creativity">
              </tm-task-card>
              <!--              <div class="bg-zinc-800 rounded-lg p-4 transition-all duration-300 hover:bg-zinc-700">-->
              <!--                <div class="flex items-center">-->
              <!--                  <i class="fas fa-fist-raised text-yellow-500 mr-2"></i>-->
              <!--                  <span>Strength</span>-->
              <!--                </div>-->
              <!--                <div id="strength" class="text-2xl font-bold">10</div>-->
              <!--              </div>-->
              <!--              <div class="bg-zinc-800  rounded-lg p-4 transition-all duration-300 hover:bg-zinc-700">-->
              <!--                <div class="flex items-center">-->
              <!--                  <i class="fas fa-brain text-blue-500 mr-1"></i>-->
              <!--                  <span>Intelligence</span>-->
              <!--                </div>-->
              <!--                <div id="intelligence" class="text-2xl font-bold">10</div>-->
              <!--              </div>-->
              <!--              <div class="bg-zinc-800  rounded-lg p-4 transition-all duration-300 hover:bg-zinc-700">-->
              <!--                <div class="flex items-center">-->
              <!--                  <i class="fas fa-star text-purple-500 mr-2"></i>-->
              <!--                  <span>Charisma</span>-->
              <!--                </div>-->
              <!--                <div id="charisma" class="text-2xl font-bold">0</div>-->
              <!--              </div>-->
              <!--              <div class="bg-zinc-800  rounded-lg p-4 transition-all duration-300 hover:bg-zinc-700">-->
              <!--                <div class="flex items-center">-->
              <!--                  <i class="fas fa-palette text-pink-500 mr-2"></i>-->
              <!--                  <span>Creativity</span>-->
              <!--                </div>-->
              <!--                <div id="creativity" class="text-2xl font-bold">10</div>-->
              <!--              </div>-->
            </div>

            <!-- Currency -->
            <div class="mt-6 bg-zinc-800 rounded-lg p-4 w-full transition-all duration-300 hover:bg-gray-600">
              <tm-coins></tm-coins>
            </div>
          </div>
        </div>
      </div>

      <!-- Tasks Section -->
      <!--      <div class="md:col-span-2">-->
      <!--        <div class="bg-[#111] rounded-xl p-4 lg:p-6 shadow-lg border border-purple-500/20">-->
      <!--          <div class="flex justify-between items-center mb-6">-->
      <!--            <h2 class="text-2xl font-bold">Active Quests</h2>-->
      <!--            <button-->
      <!--              class="bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 text-white px-4 py-2 rounded-lg flex items-center transition-all duration-300 transform hover:scale-105">-->
      <!--              <i class="fas fa-plus mr-2"></i> New Quest-->
      <!--            </button>-->
      <!--          </div>-->

      <!--          <div id="taskList" class="space-y-4 h-[480px] max-h-full overflow-y-auto pr-2">-->
      <!--            &lt;!&ndash; Tasks will be dynamically inserted here &ndash;&gt;-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</div>
